<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="keywords" content="{{ page.keywords }}">
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="Fu Zhenyang" />
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <div class="logo">
        <a href="/">fuzhenyang.com</a>
    </div>
    {{ content }}
    <!--<div class="footer">
        <div class="contact">
            <p>
                Tom Preston-Werner<br />
                Cofounder of <a href="http://github.com/">GitHub</a><br />
                tom@mojombo.com
            </p>
        </div>
        <div class="contact">
            <p>
                <a href="http://github.com/mojombo/">github.com/mojombo</a><br />
                <a href="http://twitter.com/mojombo/">twitter.com/mojombo</a><br />
                <a href="http://flickr.com/photos/mojombo/">flickr.com/photos/mojombo</a>
            </p>
        </div>
        <div class="rss">
            <a href="http://feeds.feedburner.com/tom-preston-werner">
                <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
            </a>
        </div>
    </div>-->
    <a class="fork-me" href="http://github.com/shevche24">
        <img style="position: absolute; top: 0; right: 0; border: 0;" src="/images/fork-me.png" alt="Fork me on GitHub" />
    </a>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-36547080-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>
</html>
